<a href="https://colab.research.google.com/github/Charles0823/ormi3/blob/main/python/%EC%98%A4%EB%A5%B4%EB%AF%B8_3%EA%B8%B0_Kcs_python_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#연산과 구문

#산술 연산자

In [ ]:
{'one':1} + {'two':2} # error
{5} + {6} # error

In [ ]:
print(7 - 4)
print(7 -- 4)
print(7 --- 4)
print(7 ---- 4)

3
11
3
11

In [ ]:
print(-2 * 2)
print(-2 ** 2) # 주의 매우주의!!

-4
-4

In [ ]:
result = "Ha" * 3
print(result) # 결과: "HaHaHa"

HaHaHa

In [ ]:
result = [1, 2, 3] * 2
print(result) # 출력: [1, 2, 3, 1, 2, 3]

[1, 2, 3, 1, 2, 3]

In [ ]:
a = 10
b = 2
print(a / b) # 결과 5.0
print(a // b) # 결과 5 (JavaScript에서 //는 주석이라 이 연산이 없습니다.)

5.0
5

In [ ]:
a = 5
b = 2
a // b  # //는 몫을 구하는게 아니라 구한 값에서 내림을 한것
# python에 //는 몫이 아닙니다!
# 내림입니다!

2

In [ ]:
10 / 0 # ZeroDivisionError
10 % 0 # ZeroDivisionError

In [ ]:
print(10.123 // 1)
print(-10.123 // 1)

10.0
-11.0

In [ ]:
a = 10
b = 3
divide = a / b
print(f'{a} ÷ {b} = {divide:.2f}')  # 결과: 10 ÷ 3 = 3.33

10 ÷ 3 = 3.33

In [ ]:
a = 10
b = 3
divide = a / b
print(f'{a} ÷ {b} = {divide:.3f}')  # 결과: 10 ÷ 3 = 3.333

10 ÷ 3 = 3.333

In [87]:
print(10 % 3.3)
print((100 % 33) / 10) # 소숫점 1자리까지 출력해야 한다
print((1000 % 330) / 100) # 소숫점 2자리까지 출력해야 한다

0.10000000000000053
0.1
0.1

In [ ]:
10 % 0 #

In [ ]:
5 == '5' # False

False

In [ ]:
print('apple' < 'banana')
print('한' < '후')
print('apple' < 'applee')
print([10, 20, 30, 35] < [10, 20, 30, 40])
print([10, 20, 30] < [10, 20, 30, 40])
print([10, 20, 35] < [10, 20, 30, 40])

True
True
True
True
True
False

In [ ]:
print('applea' < 'appleb')
print('applec' < 'appleb')
print('applea' < 'appleb')

True
False
True

In [ ]:
x = 10
5 < x < 15

True

In [ ]:
x = 20

10 < x < 11

False

#논리연산자

In [ ]:
# and(곱), or(합), not(부정)
x = True # 1
y = False # 0

print(True and False) # False
print(True and True) # True
print(True or False) # True
print(True or True) # True

False
True
True
True

In [ ]:
for i in range(101):
    if i % 3 == 0 and i % 5 == 0:
        print(i)

0
15
30
45
60
75
90

In [ ]:
for i in range(101):
    if i % 3 == 0:
        if i % 5 == 0:
            print(i)

for i in range(101):
    if i % 3 == 0 and i % 5 == 0:
        print(i)

In [ ]:
# https://codingdojang.com/scode/350?answer_mode=hide
for i in range(101):
    if i % 3 == 0 or i % 5 == 0:
        print(i)

In [ ]:
print(not True)  # 결과: False
print(not False) # 결과: True

False
True

In [ ]:
# 여기서부터는 나아가기 입니다.
a = True
b = False

a and b and ccc and ddd # 디버깅 할 때 조심

False

In [ ]:
a = True
b = False

a or b or eee or fff

True

In [ ]:
# 이건 왜 True이죠???
# 헷갈리시면 괄호 써주세요.
#                                                                   우선순위
# x OR y (또는 연산자)	    if x is FALSE, then y, else x	        1
# x AND y (그리고 연산자)	if x is FALSE, then x, else y	        2
# NOT x (부정 연산자)	    if x if FALSE, then True, else FALSE	3
a = True
b = False
c = False

a or b and c

True

In [ ]:
a = True
b = False
c = False
d = True

a and b or c and d

False

In [ ]:
a = True
b = False
c = False
d = True

a and not b or c and d
(a and (not b)) or (c and d)

True

In [ ]:
# 단락회로평가
a = 'hello'
b = ''

a or b

'hello'

In [ ]:
# 단락회로평가
a = 'hello'
b = 'world'

a or b

'hello'

In [ ]:
# 단락회로평가
a = ''
b = 'world'

a or b

'world'

In [ ]:
username = ''

username = username or '이름을 정하지 않았습니다.'
username

'이름을 정하지 않았습니다.'

In [ ]:
username = 'licat'

username = username or '이름을 정하지 않았습니다.'
username
# result = functionA() or functionB()
# 앞에 값이 None이나 0이 이면 뒤에 값으로 result를 만들겠다는 얘기고
# 아니라면 앞에 값으로 result를 만들겠다는 얘기입니다.

'licat'

#할당연산

In [ ]:
x = 10
y = 20

In [ ]:
x = x + 1

In [ ]:
x += 1
x -= 1

In [ ]:
x /= 1
x //= 1
x **= 1
x *= 1
x %= 1

#id 연산자, is 연산자, is not 연산자

In [ ]:
a = 10000
b = 10000
a is b

False

In [ ]:
id(a), id(b)

(139926826344720, 139926826344528)

In [ ]:
a = [1, 2, 3]
b = [1, 2, 3]
a is b

False

In [ ]:
coffee = "Brand"
orange = "Brand"

print(coffee is orange)
print(coffee == orange)

#연습문제

In [ ]:
x = 3
y = 5
result = x + y or (isinstance(x, int) and isinstance(y, int))
# 여기에 논리연산자를 더 붙여 두 수를 더하는 코드를 만들어보세요.

print(result) # 8이 출력되어야 합니다.

8

In [ ]:
#다음 출력값은 무엇일까요? 왜 그러한가요?
print('hello' < 'hell o') # 유니코드에서 공백이 o보다 앞에 나오기 때문에 False 입니다.
print([10, 20, 30] < [10, 19, 100])
# 순차적으로 비교하기 때문에 10은 동일하고, 다음이 20 < 19 이니까 False 입니다.
print(10 % 3.3 == 0.1)
# 부동 소수점 오차로 소수접을 정수값이 될때까지 10의 제곱단위로 곱해주고 나온 값을 다시 나눠줘야합니다.

False
False
False

In [ ]:
#어떤 이메일을 쓰고 있는지 출력하는 코드를 작성해주세요.
email2 = 'abc@gmail.com' # gmail
email3 = 'abc@naver.com' # naver
email4 = 'abc@weniv.co.kr' # weniv
email5 = 'li.cat@weniv.co.kr' # weniv

print(email2[email2.rindex('@')+1:].split(".")[0])
print(email3[email3.rindex('@')+1:].split(".")[0])
print(email4[email4.index('@')+1:].split(".")[0])
print(email5[email5.index('@')+1:].split(".")[0])

gmail
naver
weniv
weniv

In [ ]:
4 not in [10, 20, 30]

True

In [ ]:
a = {'key1': 'value1', 'key2': 'value2'} #딕셔너리
b = {10, 10, 20}
10 in b # 출력: True
{10} in b # 출력: False, 주의
{10, 20} in b # 출력: False, 주의

'key' in a # 출력: True
'value' in a # 출력: False
('key1', 'key2') in a # 출력: False
{'key1':'value1'} in a # error

TypeError: ignored

#in 구문

#연산자 우선순위

In [ ]:
-2 ** 2

-4

In [ ]:
True * True and True + False

1

In [ ]:
((True * True) and (True + False))

1

#연습문제

In [ ]:
# 배우신 분들
# 그리디 알고리즘입니다.
# 10000원짜리를 들고가서 1500원짜리 월드콘을 사먹었습니다. 거스름돈을 가장 적게 줄 수 있는 코드를 작성하세요.

거스름돈 = 10000 - 1500

print(거스름돈 // 5000, '5000원')
거스름돈 = 거스름돈 % 5000

print(거스름돈 // 1000, '1000원')
거스름돈 = 거스름돈 % 1000

print(거스름돈 // 500, '500원')
거스름돈 = 거스름돈 % 500

print(거스름돈 // 100, '100원')
거스름돈 = 거스름돈 % 100

1 5000원
3 1000원
1 500원
0 100원

#함수

In [ ]:
def 부지매입():
    pass

def 설계도면작성():
    pass

def 인력모집():
    pass

def 벽돌쌓기():
    pass

def 지붕올리기():
    pass

부지매입()
설계도면작성()
인력모집()
벽돌쌓기()
지붕올리기()

In [ ]:
# 들여쓰기
# print와 return은 헷갈리시면 안됩니다.
def printnum(): # 함수의 정의
    print('1')
    print('2')
    print('3')
    return None

a = printnum() # 함수의 호출
print(a)

1
2
3
None

In [ ]:
def printnum():
    print('1')
    print('2')
print('3')
printnum()

3
1
2

In [ ]:
def printnum():
    print('1')
    print('2')
print('3')
print(printnum())

3
1
2
None

In [ ]:
# 파선아실
def function(x, y):
    z = x + y
    return z
print('function(5, 7) =', function(5, 7))

function(5, 7) = 12

In [ ]:
def factoria(n) :
    if n <= 1:
        return 1
    return n * factoria(n-1)

'''
함수 호출               return
factoria(n)            factoria(n-1)
factoria(5)        5 * factoria(4)    == 5 * 24
factoria(4)        4 * factoria(3)    == 4 * 6
factoria(3)        3 * factoria(2)    == 3 * 2
factoria(2)        2 * factoria(1)    == 2 * 1
factoria(1)
'''

In [ ]:
def reversed_str(s):
    if len(s) <= 1:
        return s
    return reversed_str(s[1:]) + s[0]

reversed_str('hello')

'''
함수 호출               return
reversed_str(n)         reversed_str(s[1:]) + s[0]
reversed_str('hello')   reversed_str(s[1:]) + s[0]
reversed_str(4)         reversed_str(s[1:]) + s[0]
reversed_str(3)         reversed_str(s[1:]) + s[0]
reversed_str(2)         reversed_str(s[1:]) + s[0]
reversed_str(1)
'''

In [ ]:
# 반복문을 아직 안배웠지만 간단하게 된다는 것을 보여드리기 위함입니다!
n = 5
result = 1
for i in range(1, n+1):
    result *= i
result

120

In [ ]:
# 문자열 뒤집기
s = 'hello'
result = ''

for i in s:
    result = i + result
    print(result)

result

h
eh
leh
lleh
olleh

'olleh'

#함수 나아가기

In [38]:
a = None
a

In [40]:
'hello world'\
        .upper()\
        .replace(' ', '')\
        .lower()

'helloworld'

In [39]:
# 여러개의 값 반환하기

def f():
    a = 10
    b = 20
    c = 30
    return a, b, c

f()

(10, 20, 30)

In [41]:
x = map(int, '1234')

for i in x:
    print(i)

for i in x: # 더이상 순회가 안됩니다! 이 이유에 대해서는 뒤에서 진행하겠습니다.
    print(i)

1
2
3
4

In [42]:
x = map(int, '1234')
# 1번째 수행 int('1')
# 2번째 수행 int('2')
# 3번째 수행 int('3')
# 4번째 수행 int('4')

In [43]:
list(map(int, '1234'))

[1, 2, 3, 4]

In [44]:
def f(x):
    return x * 2

list(map(f, '1234'))

['11', '22', '33', '44']

In [45]:
list(map(lambda x:x*2, '1234'))

['11', '22', '33', '44']

# bulit-in-functions 총집합

In [46]:
# 10진수로 유니코드표에서 찾아 대응되는 값을 줍니다.
chr(65)
chr(97)
chr(54616)

'하'

In [47]:
# 문자를 입력하면 유니코드에서 숫자로 출력합니다.
ord('a')
ord('하')

54616

In [48]:
list(map(lambda x: x**2, [1, 2, 3, 4]))

[1, 4, 9, 16]

In [49]:
list(filter(lambda x: x>10, [1, 2, 11, 12, 9, 6, 13]))

[11, 12, 13]

In [50]:
def filter_function(x):
    return x > 10

list(filter(filter_function, [1, 2, 11, 12, 9, 6, 13]))

[11, 12, 13]

In [51]:
list(zip('abc', '123'))

[('a', '1'), ('b', '2'), ('c', '3')]

In [52]:
list(zip('abc', '123', [10, 20, 30]))

[('a', '1', 10), ('b', '2', 20), ('c', '3', 30)]

In [55]:
list(zip('abc', '1234567', [10, 30, 20]))

[('a', '1', 10), ('b', '2', 30), ('c', '3', 20)]

In [58]:
# zip은 좌표계에서 자주 응용됩니다.
# https://codingdojang.com/scode/408?answer_mode=hide

s = [1, 3, 4, 8, 13, 17, 20]
list(zip(s, s[1:]))

[(1, 3), (3, 4), (4, 8), (8, 13), (13, 17), (17, 20)]

In [57]:
# sorted는 지금 단계에서 하지 않아요. 바로 뒤에 있으니 지금 이해하려 하지 마세요.
# 지금은 zip에 집중해주세요.
sorted(zip(s, s[1:]), key=lambda x:x[1]-x[0])
# sorted(zip(s, s[1:]), key=lambda x:x[1]-x[0])[0] # 정답 코드

[(3, 4), (1, 3), (17, 20), (4, 8), (13, 17), (8, 13)]

In [61]:
format(1000000, ',')

'1,000,000'

In [62]:
len('hello world')

11

In [63]:
max([1, 2, 3, 4, 5])

5

In [64]:
min([1, 2, 3, 4, 5])

1

In [65]:
sum([1, 2, 3, 4, 5])

15

In [70]:
max([(1, 2), (3, 101), (1, 20), (3, 100)])
max('hello', 'world', 'world1')

'world1'

In [75]:
sum([[1, 2], [3, 101], [1, 20], [3, 100]], [])

[1, 2, 3, 101, 1, 20, 3, 100]

In [76]:
[] + [1, 2]
[1, 2] + [3, 101]
[1, 2, 3, 101]

[1, 2, 3, 101]

In [78]:
가수 = ['뉴진스', '르세라핌', '에스파', '아이브']
print(list(enumerate(가수)))
print(list(enumerate(가수, 1)))
print(list(enumerate(가수, 100)))

for i, j in enumerate(가수, 1):
    print(i, j)

[(0, '뉴진스'), (1, '르세라핌'), (2, '에스파'), (3, '아이브')]
[(1, '뉴진스'), (2, '르세라핌'), (3, '에스파'), (4, '아이브')]
[(100, '뉴진스'), (101, '르세라핌'), (102, '에스파'), (103, '아이브')]
1 뉴진스
2 르세라핌
3 에스파
4 아이브

In [86]:
# range(start, stop, step) # 슬라이싱과 비슷한 형태를 지니고 있습니다.
print(range(10)) # 값을 가지고 있지 않습니다.
print(list(range(10)))
x = range(10)
print(type(x))
print(list(range(0, 10, 2)))
print(list(range(10, 0, -2)))
# print(list(range(10, 0, 2.1))) # error, numpy 모듈 사용하면 가능합니다.
# print(list(range(10.1, 2.0, 2))) # error, numpy 모듈 사용하면 가능합니다.
print(list(range(0, 10, -2)))

range(0, 10)
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
<class 'range'>
[0, 2, 4, 6, 8]
[10, 8, 6, 4, 2]
[]

In [84]:
# 2.x에서 range와 그 외 값들에 대한 히스토리
# print(range(10)) # 출력: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
# 메모리를 모두 차지해야 합니다.

# print(range(100000000000000000000000000000000000000))
# 메모리의 효율이 극도로 안좋아짐

# 그런데 3.x에서 range(10000000000000000000000000000)는 메모리 효율이 안좋나요?
# 시작과, 끝, 스텝값만 가지고 있기 때문에 메모리 낭비가 전혀 없습니다.

# 2.x에서도 3.x와 같은 range타입이 있었습니다. xrange문법입니다. xrange문법이 3.x되면서 range가 된겁니다.
# 2.x에서 사용가능 문법
# print(xrange(10)) # 출력: xrange(10)
# for i in xrange(10): # 출력: 순회 가능
#     print(i)