<a href="https://colab.research.google.com/github/Charles0823/ormi3/blob/main/python/%EC%98%A4%EB%A5%B4%EB%AF%B8_3%EA%B8%B0_Kcs_python_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#연산과 구문

#산술 연산자

In [ ]:
{'one':1} + {'two':2} # error
{5} + {6} # error

In [22]:
print(7 - 4)
print(7 -- 4)
print(7 --- 4)
print(7 ---- 4)

3
11
3
11

In [24]:
print(-2 * 2)
print(-2 ** 2) # 주의 매우주의!!

-4
-4

In [25]:
result = "Ha" * 3
print(result) # 결과: "HaHaHa"

HaHaHa

In [26]:
result = [1, 2, 3] * 2
print(result) # 출력: [1, 2, 3, 1, 2, 3]

[1, 2, 3, 1, 2, 3]

In [27]:
a = 10
b = 2
print(a / b) # 결과 5.0
print(a // b) # 결과 5 (JavaScript에서 //는 주석이라 이 연산이 없습니다.)

5.0
5

In [28]:
a = 5
b = 2
a // b  # //는 몫을 구하는게 아니라 구한 값에서 내림을 한것
# python에 //는 몫이 아닙니다!
# 내림입니다!

2

In [ ]:
10 / 0 # ZeroDivisionError
10 % 0 # ZeroDivisionError

In [32]:
print(10.123 // 1)
print(-10.123 // 1)

10.0
-11.0

In [48]:
a = 10
b = 3
divide = a / b
print(f'{a} ÷ {b} = {divide:.2f}')  # 결과: 10 ÷ 3 = 3.33

10 ÷ 3 = 3.33

In [33]:
a = 10
b = 3
divide = a / b
print(f'{a} ÷ {b} = {divide:.3f}')  # 결과: 10 ÷ 3 = 3.333

10 ÷ 3 = 3.333

In [46]:
print(10 % 3.3)
print((100 % 33) / 10) # 소숫점 1자리까지 출력해야 한다
print((1000 % 330) / 100) # 소숫점 2자리까지 출력해야 한다

0.10000000000000053
0.1
0.1

In [52]:
5 == '5' # False

False

In [51]:
print('apple' < 'banana')
print('한' < '후')
print('apple' < 'applee')
print([10, 20, 30, 35] < [10, 20, 30, 40])
print([10, 20, 30] < [10, 20, 30, 40])
print([10, 20, 35] < [10, 20, 30, 40])

True
True
True
True
True
False

In [50]:
print('applea' < 'appleb')
print('applec' < 'appleb')
print('applea' < 'appleb')

True
False
True

In [53]:
x = 10
5 < x < 15

True

In [54]:
x = 20

10 < x < 11

False

#논리연산자

In [55]:
# and(곱), or(합), not(부정)
x = True # 1
y = False # 0

print(True and False) # False
print(True and True) # True
print(True or False) # True
print(True or True) # True

False
True
True
True

In [56]:
for i in range(101):
    if i % 3 == 0 and i % 5 == 0:
        print(i)

0
15
30
45
60
75
90

In [ ]:
for i in range(101):
    if i % 3 == 0:
        if i % 5 == 0:
            print(i)

for i in range(101):
    if i % 3 == 0 and i % 5 == 0:
        print(i)

In [ ]:
# https://codingdojang.com/scode/350?answer_mode=hide
for i in range(101):
    if i % 3 == 0 or i % 5 == 0:
        print(i)

In [59]:
print(not True)  # 결과: False
print(not False) # 결과: True

False
True

In [60]:
# 여기서부터는 나아가기 입니다.
a = True
b = False

a and b and ccc and ddd # 디버깅 할 때 조심

False

In [61]:
a = True
b = False

a or b or eee or fff

True

In [62]:
# 이건 왜 True이죠???
# 헷갈리시면 괄호 써주세요.
#                                                                   우선순위
# x OR y (또는 연산자)	    if x is FALSE, then y, else x	        1
# x AND y (그리고 연산자)	if x is FALSE, then x, else y	        2
# NOT x (부정 연산자)	    if x if FALSE, then True, else FALSE	3
a = True
b = False
c = False

a or b and c

True

In [63]:
a = True
b = False
c = False
d = True

a and b or c and d

False

In [64]:
a = True
b = False
c = False
d = True

a and not b or c and d
(a and (not b)) or (c and d)

True

In [65]:
# 단락회로평가
a = 'hello'
b = ''

a or b

'hello'

In [66]:
# 단락회로평가
a = 'hello'
b = 'world'

a or b

'hello'

In [67]:
# 단락회로평가
a = ''
b = 'world'

a or b

'world'

In [68]:
username = ''

username = username or '이름을 정하지 않았습니다.'
username

'이름을 정하지 않았습니다.'

In [78]:
username = 'licat'

username = username or '이름을 정하지 않았습니다.'
username
# result = functionA() or functionB()
# 앞에 값이 None이나 0이 이면 뒤에 값으로 result를 만들겠다는 얘기고
# 아니라면 앞에 값으로 result를 만들겠다는 얘기입니다.

'licat'

#할당연산자

In [71]:
x = 10
y = 20

In [72]:
x = x + 1

In [73]:
x += 1
x -= 1

In [74]:
x /= 1
x //= 1
x **= 1
x *= 1
x %= 1

#id 연산자, is 연산자, is not 연산자

In [75]:
a = 10000
b = 10000
a is b

False

In [76]:
id(a), id(b)

(139926826344720, 139926826344528)

In [77]:
a = [1, 2, 3]
b = [1, 2, 3]
a is b

False

In [ ]:
coffee = "Brand"
orange = "Brand"

print(coffee is orange)
print(coffee == orange)

#연습문제

In [105]:
x = 3
y = 5
result = x + y or (isinstance(x, int) and isinstance(y, int))
# 여기에 논리연산자를 더 붙여 두 수를 더하는 코드를 만들어보세요.

print(result) # 8이 출력되어야 합니다.

8

In [106]:
#다음 출력값은 무엇일까요? 왜 그러한가요?
print('hello' < 'hell o') # 유니코드에서 공백이 o보다 앞에 나오기 때문에 False 입니다.
print([10, 20, 30] < [10, 19, 100])
# 순차적으로 비교하기 때문에 10은 동일하고, 다음이 20 < 19 이니까 False 입니다.
print(10 % 3.3 == 0.1)
# 부동 소수점 오차로 소수접을 정수값이 될때까지 10의 제곱단위로 곱해주고 나온 값을 다시 나눠줘야합니다.

False
False
False

In [138]:
#어떤 이메일을 쓰고 있는지 출력하는 코드를 작성해주세요.
email2 = 'abc@gmail.com' # gmail
email3 = 'abc@naver.com' # naver
email4 = 'abc@weniv.co.kr' # weniv
email5 = 'li.cat@weniv.co.kr' # weniv

print(email2[email2.rindex('@')+1:].split(".")[0])
print(email3[email3.rindex('@')+1:].split(".")[0])
print(email4[email4.index('@')+1:].split(".")[0])
print(email5[email5.index('@')+1:].split(".")[0])

gmail
naver
weniv
weniv