<a href="https://colab.research.google.com/github/Charles0823/ormi3/blob/main/python/%EC%98%A4%EB%A5%B4%EB%AF%B8_3%EA%B8%B0_Kcs_python_4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#조건문

In [ ]:
if True:
    print('hello')

hello

In [ ]:
if False:
    print('hello')

In [ ]:
if (True): # 이렇게 괄호를 안해도 됩니다!
    print('hello')

hello

In [6]:
if 9 and 10: # True나 False가 아니라 단락평가에 의해 9
    print('hello')

hello

In [ ]:
if 10:
    print('hello')

hello

In [ ]:
# False를 뜻함
''
0
[]
{}
()
set()

#########
# True 를 뜻함
1
-1
' '
[10, 20]

In [ ]:
x = 5
y = 10
result = 'x is greater' if x > y else 'y is greater or equal'
print(result) # 출력: 'y is greater or equal'

y is greater or equal

# 연습문제

In [1]:
# 주어진 리스트 data = [{"이름": "길동", "수학": 3, "과학": 93},
                  # {"이름": "춘향", "수학": 33, "과학": 11},
                  # {"이름": "철수", "수학": 94, "과학": 67}]에서 평균점수가 가장 높은 학생의 이름을 출력하세요.

# 주어진 사전 grades = {"Tom": 87, "Jerry": 95, "Mickey": 70}의 모든 값을 5점씩 증가시키고 결과를 출력하세요.

# 주어진 문자열 s = "apple banana apple cherry banana cherry apple"에서 가장 자주 등장하는 단어를 출력하세요.

In [2]:
# 문제 1.

data = [
    {"이름": "길동", "수학": 3, "과학": 93},
    {"이름": "춘향", "수학": 33, "과학": 11},
    {"이름": "철수", "수학": 94, "과학": 67}
]
max_entry = max(data, key=lambda x: x["수학"]+x["과학"])
print(max_entry)
print(max_entry["이름"])

{'이름': '철수', '수학': 94, '과학': 67}
철수

In [1]:
# 문제 2.

grades = {"Tom": 87, "Jerry": 95, "Mickey": 70}
# grades.update({'Tom': grades.get('Tom', 0) + 5})
# grades.update({'Jerry': grades.get('Jerry', 0) + 5})
# grades.update({'Mickey': grades.get('Mickey', 0) + 5})
updated_grades = {name: score + 5 for name, score in grades.items()}
print(updated_grades)

{'Tom': 92, 'Jerry': 100, 'Mickey': 75}

In [2]:
s = "apple banana apple cherry banana cherry apple"
s.split()

['apple', 'banana', 'apple', 'cherry', 'banana', 'cherry', 'apple']

In [8]:
from collections import Counter

s = "apple banana apple cherry banana cherry apple"
result = Counter(s.split())
result.most_common()
result.most_common(1)

[('apple', 3)]

In [11]:
# 문제 3.

s = "apple banana apple cherry banana cherry apple"
words = s.split()
most_frequent_word = max(set(words), key=words.count)
print(most_frequent_word)

apple

In [12]:
# 1부터 시작해서 5까지의 값이 x에는 어떻게 들어가는 것일까요?
x = iter('hello')
print(x)

<str_iterator object at 0x7f2b96644eb0>

In [3]:
[i if i % 2 == 0 else None for i in range(10)]

[0, None, 2, None, 4, None, 6, None, 8, None]

In [4]:
[i for i in range(10) if i % 2 == 0]

[0, 2, 4, 6, 8]

In [5]:
def f():
    return True

if f():
    print('hello')

hello

In [7]:
def f():
    return True

def ff():
    return 'hello'

if f() and ff():
    print('hello')

hello

In [8]:
# 성능에 영향을 끼칩니다!
def f():
    return True

def ff():
    x = 100 / 0 # error
    return 'hello'

if f() or ff():
    print('hello')

hello

In [ ]:
# error가 나는 코드
def f():
    return True

def ff():
    x = 100 / 0 # error
    return 'hello'

if ff() or f():
    print('hello')

In [10]:
my_function = lambda x: '짝수' if x % 2 == 0 else '홀수'
my_function(10)

'짝수'

In [ ]:
x = -1
assert x > 0, '양수여야 한다!'

In [13]:
x = 10
assert x > 0, '양수여야 한다!'

In [14]:
score = 81
money = 0

if score >= 90:
    print('mom : i\'m so happy!')
    money += 1000000
elif score >= 80: # 어떤 의미가 내포되어 있나요? 90미만이라는 얘기가 하나 더 있는겁니다!
    print('mom : i\'m happy!')
    money += 100000
elif score >= 70:
    print('mom : i\'m so...!')
    money += 10000
elif score >= 60:
    print('mom : i\'m so...!')
    money += 1000
else:
    print('mom : i\'m...!')
print(money)

mom : i'm happy!
100000

In [ ]:
score = -100
else:
    print('mom : i\'m...!')

In [16]:
score = 81
money = 0

if score >= 90:
    print('mom : i\'m so happy!')
    money += 1000000
if score >= 80:
    print('mom : i\'m happy!')
    money += 100000
if score >= 70:
    print('mom : i\'m so...!')
    money += 10000
if score >= 60:
    print('mom : i\'m so...!')
    money += 1000
else:
    print('mom : i\'m...!')
print(money)

mom : i'm happy!
mom : i'm so...!
mom : i'm so...!
111000

In [17]:
# if, elif, else는 한 묶음으로 만들어줍니다!

In [18]:
score = 81
money = 0

if score >= 90:
    print('mom : i\'m so happy!')
    money += 1000000
if 90 > score >= 80:
    print('mom : i\'m happy!')
    money += 100000
if 80 > score >= 70:
    print('mom : i\'m so...!')
    money += 10000
if 70 > score >= 60:
    print('mom : i\'m so...!')
    money += 1000
else:
    print('mom : i\'m...!')
print(money)

mom : i'm happy!
mom : i'm...!
100000

In [19]:
# 위와 같이 하더라도 실행이 같지 않고
# 또 성능도 안좋습니다!!
# 성능이 왜 안좋나요?
# if 뒤를 다 검사해야 하기 때문에 그렇습니다.
# 적절하게 묶는 것은 매우 중요한 포인트입니다.

In [ ]:
# if를 중첩해서 사용하기
movie = {
    '영화': '무빙',
    '장르': 'SF',
    '서비스': '디즈니',
    '비용': 15000,
    '평점': 4.9
}

if movie['장르'] == 'SF':
    if movie['서비스'] == '디즈니' or movie['서비스'] == '넷플릭스':
        if movie['평점'] >= 4.5:
            if movie['비용'] <= 20000:
                print('영화시청')

영화시청

In [ ]:
# if를 중첩해서 사용하기
# 간략해진 것 맞나요?
movie = {
    '영화': '무빙',
    '장르': 'SF',
    '서비스': '디즈니',
    '비용': 15000,
    '평점': 4.9
}

if movie['장르'] == 'SF' and (movie['서비스'] == '디즈니' or movie['서비스'] == '넷플릭스') and movie['평점'] >= 4.5 and movie['비용'] <= 20000:
    print('영화시청')

영화시청

In [ ]:
# 지금 이 코드에서는 동일하게 작동하지만
# 아래와 같이 했을 때에는 문제가 발생합니다.
movie = {
    '영화': '무빙',
    '장르': 'SF',
    '서비스': '디즈니',
    '비용': 15000,
    '평점': 4.9
}

if movie['장르'] == 'SF':
    if movie['평점'] >= 4.5:
        if movie['비용'] <= 20000:
            if movie['서비스'] == '디즈니' or movie['서비스'] == '넷플릭스':
                print('영화시청')

영화시청

In [ ]:
# 지금 이 코드에서는 동일하게 작동하지만
# 아래와 같이 했을 때에는 문제가 발생합니다.
movie = {
    '영화': '무빙',
    '장르': 'SF',
    '서비스': '디즈니',
    '비용': 15000,
    '평점': 4.9
}

def 구독중인ott():
    # 사용자에게 문자 알림을 준다던지 하는 엑션이 있었다?
    return movie['서비스'] == '디즈니' or movie['서비스'] == '넷플릭스'

if movie['장르'] == 'SF':
    if 구독중인ott():
        if movie['평점'] >= 4.5:
            if movie['비용'] <= 20000:
                print('영화시청')

영화시청

In [ ]:
# 지금 이 코드에서는 동일하게 작동하지만
# 아래와 같이 했을 때에는 문제가 발생합니다.
movie = {
    '영화': '무빙',
    '장르': 'SF',
    '서비스': '디즈니',
    '비용': 15000,
    '평점': 4.1 #변경
}

def 구독중인ott():
    # 사용자에게 문자 알림을 준다던지 하는 엑션이 있었다?
    return movie['서비스'] == '디즈니' or movie['서비스'] == '넷플릭스'

if movie['장르'] == 'SF':
    if movie['평점'] >= 4.5:
        if movie['비용'] <= 20000:
            if 구독중인ott():
                print('영화시청')

In [20]:
# if를 중첩해서 사용하기
movie = {
    '영화': '무빙',
    '장르': 'SF',
    '서비스': '디즈니',
    '비용': 15000,
    '평점': 4.9
}

if movie['장르'] == 'SF':
    if movie['서비스'] == '디즈니' or movie['서비스'] == '넷플릭스':
        if movie['평점'] >= 4.5 and movie['비용'] <= 20000:
            print('영화시청')

영화시청

In [21]:
# if를 중첩해서 사용하기
# 이정도가 깔끔하게 다듬어진 것입니다.
movie = {
    '영화': '무빙',
    '장르': 'SF',
    '서비스': '왓챠',
    '비용': 15000,
    '평점': 4.9
}

if movie['장르'] == 'SF':
    if movie['서비스'] == '디즈니' or movie['서비스'] == '넷플릭스':
        if movie['평점'] >= 4.5 and movie['비용'] <= 20000:
            print('영화시청')
    else:
        print(movie['서비스'] + ' 구독하기!')

왓챠 구독하기!

#match

In [22]:
text = 'Hello World'
match text:
    case 'Hello':
        print('Hello')
    case 'World':
        print('World')
    case _:
        print('No Match') # 결과 'No Match'

No Match

In [23]:
text = 'Hello'
match text:
    case 'Hello':
        print('Hello')
    case 'World':
        print('World')
    case _:
        print('No Match') # 결과 'No Match'

Hello

In [ ]:
text = 'hello'
match text:
    case 'Hello':
        print('Hello')
    case 'World':
        print('World')
print('end')

end

In [ ]:
# 작동하지 않는 코드입니다. JavaScript와 같은 곳에서는 아래와 같은 형식으로 사용하곤 합니다.
text = 'Hello'
match text:
    case 'Hello':
    case 'World':
        print('World')
    case _:
        print('No Match')

In [ ]:
# 작동하지 않는 코드입니다.
text = 'Hello'
match text:
    case 'Hello' and 'World':
        print('World')
    case _:
        print('No Match')

In [ ]:
# 작동하지 않는 코드입니다.
text = 'Hello'
match text:
    case 'Hello' or 'World':
        print('World')
    case _:
        print('No Match')

In [ ]:
# 그러면 어떻게 동시 만족하는 코드를 만들 수 있을까요?

In [26]:
# 작동하는 코드입니다.
text = 'Hello'
match text:
    case 'Hello' | 'World':
        print('World')
    case _:
        print('No Match')

World

In [ ]:
def test(i):
    match i:
        case 1:
            print('One')
        case 2:
            print('Two')
        case 3 | 4:
            print('Three or Four')
        case _ if i > 10:
            print('Greater than ten')
        case _:
            print('Other')

test(1) # 출력: One
test(2) # 출력: Two
test(3) # 출력: Three or Four
test(4) # 출력: Three or Four
test(5) # 출력: Other
test(15) # 출력: Greater than ten

One
Two
Three or Four
Three or Four
Other
Greater than ten

In [ ]:
def test(i):
    match i:
        case 1:
            print('One')
        case 2:
            print('Two')
        case _:
            if i > 2:
                print('Greater than two')
            else:
                print('Less than or equal to two')
test(1) # 출력: One
test(2) # 출력: Two
test(3) # 출력: Greater than two
test(4) # 출력: Greater than two

One
Two
Greater than two
Greater than two

In [30]:
# 문제 match를 사용하여 아래 코드를 완성해주세요.

def attack(attack_type, damege):
    # match...
    pass


attack('물리공격', 100) # 출력: 100의 데미지 입혔습니다.

# 각 공격에 따라 아래의 값이 출력되어야 합니다.
# 공격의 종류: 물리공격, 마법공격, 정신공격
# 물리공격, 마법공격 : '100의 데미지 입혔습니다.'
# 정신공격: '100ms 만큼 상대방이 혼란을 느낍니다.'

#반복문

In [32]:
for x in 'Hello':
	print(f'현재 값은 {x} 입니다.') #순회 가능한 객체가 들어갑니다.

현재 값은 H 입니다.
현재 값은 e 입니다.
현재 값은 l 입니다.
현재 값은 l 입니다.
현재 값은 o 입니다.

In [33]:
for x in (1, 2, 3, 4, 5):
	print(f'현재 값은 {x} 입니다.')

현재 값은 1 입니다.
현재 값은 2 입니다.
현재 값은 3 입니다.
현재 값은 4 입니다.
현재 값은 5 입니다.

In [34]:
d = {
    '하나' : 'one',
    '둘' : 'two',
    '셋' : 'three',
}

for k in d:
    print(k)

하나
둘
셋

In [ ]:
d = {
    '하나' : 'one',
    '둘' : 'two',
    '셋' : 'three',
}

for k, v in d.items():
    print(f'{k} : {v}')

하나 : one
둘 : two
셋 : three

In [35]:
for k in d:
    print(k, ':', d[k])

하나 : one
둘 : two
셋 : three

In [ ]:
for k in d:
    print(k, ': ', d[k], sep='', end=', ')

하나: one, 둘: two, 셋: three,

In [3]:
# __iter__ 이 메직메서드가 없다? for문이 안된다! 순회가능한 객체가 아니다.
#                      있다? for문이 된다!   순회가능한 객체이다!

In [5]:
# 1부터 시작해서 5까지의 값이 x에는 어떻게 들어가는 것일까요?
x = iter('hello')
print(x)

<str_iterator object at 0x78b70b727610>

In [ ]:
print(next(x)) # 런타임을 실행할때마다 차례대로 h e l l o 를 하나씩 출력하고 그 뒤로는 error

In [17]:
x = 'hello'
y = x.__iter__() # iter('hello')

In [18]:
print(y.__next__()) # next('hello')
print(y.__next__())
print(y.__next__())
print(y.__next__())
print(y.__next__())
print(y.__next__())

h
e
l
l
o

StopIteration: ignored

In [ ]:
# 1부터 100까지 더하는 코드
result = 0
for i in range(101):
    result += i
result

5050

In [ ]:
# 1부터 100까지 더하는 코드
result = 0
for i in range(101):
    result += i
result

5050

In [ ]:
# 1부터 100까지 짝수를 더하는 코드
# 권장하지 않는 코드(100번 돌아야 하고, if문도 봐야하고)
result = 0
for i in range(101):
    if i % 2 == 0:
        result += i
result

2550

In [ ]:
# 권장하는 코드(물론, 수학수식을 사용할 수 있으면 더 좋습니다.)
# 순회도 반만 돌았고, if문도 없습니다.
result = 0
for i in range(0, 101, 2):
    result += i
result

2550

In [ ]:
# 구구단 출력
for i in range(2, 10):
    for j in range(1, 10):
        print(i, j, i*j)

In [ ]:
# 홀수들에 특이한 덧셈을 하고 싶습니다.
# 예를 들어, 6이하의 특이한 덧셈을 한다면
# 1 + 3이하의 수 + 5이하의 수...
# 1 + 1 + 2 + 3 + 1 + 2 + 3 + 4 + 5 이렇게 답이 나와야 합니다.
result = 0
for i in [range(2), range(4), range(6)]:
    for j in i:
        result += j
result

22

In [ ]:
# for는 중첩 2번 해야 합니다.
# 문제1
# 다음과 같은 문자열이 있습니다.
# s = '135678'
# 이때 구구단 1단, 3단, 5단, 6단, 7단, 8단을 출력하는 코드를 만들어주세요.

s = '135678'
for i in s:
    for j in range(1, 10):
        print(i, j, int(i)*j)

In [19]:
# 심화문제
# 특이한 구구단이 있다.
# [2, 3, 6]이 있었을 때 아래와 같이 출력되어야 한다.
# 2단, 3단, 6을 출력하고
# 곱해지는 수는 이에 [2, 3, 6]에 1씩을 더한
# [3, 4, 7]이 각각 곱해져야 합니다.

# 2 X 3 = 6
# 2 X 4 = 8
# 2 X 7 = 14
# 3 X 3 = 9
# 3 X 4 = 12
# 3 X 7 = 21
# 6 X 3 = 18
# 6 X 4 = 24
# 6 X 7 = 42

l = [2, 3, 6]
for i in l:
    for j in l:
        print(f'{i} X {j + 1} = {i*(j+1)}')

2 X 3 = 6
2 X 4 = 8
2 X 7 = 14
3 X 3 = 9
3 X 4 = 12
3 X 7 = 21
6 X 3 = 18
6 X 4 = 24
6 X 7 = 42

In [ ]:
# 하나만 리스트여도 쌍이면 상관없이 잘 돌아감
skill = [
        ('고기잡이', 100, 'SS'),
        ('고기팔기', 120, 'SSS'),
        ('낚시', 5, 'C'),
        ('통발', 5, 'C'),
        ('큰그물', 5, 'C')
]

for skillName, skillLevel, skillGrade in skill:
    print(skillName, skillLevel, skillGrade)

고기잡이 100 SS
고기팔기 120 SSS
낚시 5 C
통발 5 C
큰그물 5 C

In [ ]:
영화누적관객수 = ['레미제라블', '뷰티인사이트', '매트릭스', '인셉션', '어거스트 러쉬']
for i in enumerate(영화누적관객수):
    print(i)

for i, j in enumerate(영화누적관객수, 1):
    print(f'누적관객수 {i}위! {j}!')

(0, '레미제라블')
(1, '뷰티인사이트')
(2, '매트릭스')
(3, '인셉션')
(4, '어거스트 러쉬')
누적관객수 1위! 레미제라블!
누적관객수 2위! 뷰티인사이트!
누적관객수 3위! 매트릭스!
누적관객수 4위! 인셉션!
누적관객수 5위! 어거스트 러쉬!

In [ ]:
# 실행시키면 런타임 다시 시작해야 합니다.  무한반복 코드 입니다.
# l = [1, 2]
# for i in l:
#     l.append(3)
#     print(i) # 1, 2, 3, 3, 3, 3, 3, 3 ...

s = 'hello'
for i in s: # 순회가 정상적으로 됩니다.
    s += '!'
    print(i)
    print(s)

d = {'one': '하나'}
for i in d: # RuntimeError: dictionary changed size during iteration
    d.update({i+d[i]:None})
    print(d)

In [ ]:
# while True :
    # print('무한 반복 중...')  #무한 반복 코드 입니다.

In [20]:
# 이런 코드는 OS에서 사용하거나
# 쉘 만들 때 사용합니다.
while True:
    userinput = input('>')
    if userinput == 'pwd':
        print('현재 위치 출력')
    elif userinput == 'dir' or userinput == 'ls':
        print('현재 폴더에 폴더와 파일명 출력')
    elif userinput == 'exit':
        print('안녕히가세요.')
        break

>서울
>서울
>서울
>python
>안녕
>안녕히가세요
>exit
안녕히가세요.

In [ ]:
# .py파일로 작성해서 실행해보세요.
import os

while True:
    userinput = input('>')
    if userinput == 'pwd':
        # print('현재 위치 출력')
        # print('\\'.join(__file__.split('\\')[:-1]))
        print(os.getcwd())
    elif userinput == 'dir' or userinput == 'ls':
        # print('현재 폴더에 폴더와 파일명 출력')
        print(os.listdir(os.getcwd()))
    elif userinput == 'exit':
        print('안녕히가세요.')
        break

>exit
안녕히가세요.

In [ ]:
import random

answer = random.randint(1, 1000)
while True:
    userinput = int(input('숫자를 입력해주세요.'))
    if userinput > answer:
        print('Down')

    elif userinput < answer:
        print('Up')
    else:
        print('축하합니다! 맞추셨어요!')
        break

숫자를 입력해주세요.337
Down
숫자를 입력해주세요.222
Down
숫자를 입력해주세요.111
Down
숫자를 입력해주세요.33
Up
숫자를 입력해주세요.77
Down
숫자를 입력해주세요.55
Down
숫자를 입력해주세요.44
Down
숫자를 입력해주세요.36
축하합니다! 맞추셨어요!

In [ ]:
import random

s = [1, 2, 3, 4, 5]
random.shuffle(s)
s

[5, 4, 2, 1, 3]

In [ ]:
x = (n := 10) * 2
print(x)  # 출력: 20
print(n)  # 출력: 10

20
10

In [ ]:
import random

while (x := random.randint(0, 10)) != 7:
    print(x)

8
9
0
4
10

In [ ]:
# while문으로 구구단 출력
i = 2
while i < 10:
    j = 1 # 별표 5개! while문은 중첩해서 사용할 때 초기화가 필요합니다!
    while j < 10:
        print(f'{i} X {j} = {i*j}')
        j += 1
    i += 1

In [ ]:
# while문으로 구구단 출력
i = 2
while i < 10:
    j = 1 # 별표 5개! while문은 중첩해서 사용할 때 초기화가 필요합니다!
    while j < 10:
        print(f'{i} X {j} = {i*j}')
        j += 1
    i += 1

In [23]:
x = 0
while x < 10:
    print(x)
    if x == 5:
        break
    x += 1

0
1
2
3
4
5

In [25]:
# 주의해주세요! 무한반복입니다!
# x = 0
# while x < 10:
#     print(x)
#     if x == 5:
#         continue
#     x += 1

In [26]:
x = 0
while x < 10:
    x += 1
    if x == 5:
        continue
    print(x)

1
2
3
4
6
7
8
9
10

In [27]:
# break은 바로 위에 부모만 탈출합니다.
# continue는 아래코드를 실행하지 않고 다음 루프로 넘어갑니다.
# pass는 지나칠 뿐입니다.
# 아래에서 pass는 코드가 애러가 나지 않게만 합니다.
x = 0
while x < 10:
    x += 1
    if x == 5:
        pass
    print(x)

1
2
3
4
5
6
7
8
9
10

In [31]:
i = 2
while i < 10:
    j = 1 # 별표 5개! while문은 중첩해서 사용할 때 초기화가 필요합니다!
    while j < 10:
        if j == 3:
            break
        print(f'{i} X {j} = {i*j}')
        j += 1
    i += 1

2 X 1 = 2
2 X 2 = 4
3 X 1 = 3
3 X 2 = 6
4 X 1 = 4
4 X 2 = 8
5 X 1 = 5
5 X 2 = 10
6 X 1 = 6
6 X 2 = 12
7 X 1 = 7
7 X 2 = 14
8 X 1 = 8
8 X 2 = 16
9 X 1 = 9
9 X 2 = 18

In [33]:
# https://peps.python.org/pep-3136/

try:
    for i in range(2, 10):
        for j in range(1, 10):
            if j == 3:
                raise StopIteration
            print(f'{i} X {j} = {i*j}')
except StopIteration:
    print("Done")

2 X 1 = 2
2 X 2 = 4
Done

In [37]:
# else라고 하지 않고 다른 키워드로 해야한다는 주장있었어요.
for i in range(5):
    print(i)
else:
    print('정상 종료')

0
1
2
3
4
정상 종료

In [43]:
# else라고 하지 않고 다른 키워드로 해야한다는 주장있었어요.
for i in range(5):
    print(i)
    if i == 3:
        break
else:
    print('정상 종료')

0
1
2
3

In [44]:
x = 1
while x < 10:
    print(x)
    if x == 3:
        break
    x += 1
else:
    print('정상 종료')

1
2
3

In [40]:
x = 1
while x < 10:
    print(x)
    x += 1
else:
    print('정상 종료')

1
2
3
4
5
6
7
8
9
정상 종료

In [ ]:
for i in range(5):
    print(i)
else:
    print('end')

0
1
2
3
4
end

In [47]:
data = [
  {
    "_id": "287b44e4-d6d8-4a64-Bdf4-bfc50fedebd8",
    "index": "1",
    "name": "모송이",
    "email": "user-s6nfwx3@augue.org",
    "phone": "010-7996-9978",
    "country": "네덜란드",
    "address": "여의하류로 79-9",
    "job": "경찰관",
    "gender": "남성",
    "int": "32"
  },
  {
    "_id": "e3a93069-7d76-40a1-C25d-17d0057c1cb7",
    "index": "2",
    "name": "반시영",
    "email": "user-qqhgzek@rutrum.org",
    "phone": "010-3769-4878",
    "country": "몽골",
    "address": "논현로 97-7",
    "job": "화가",
    "gender": "남성",
    "int": "40"
  },
  {
    "_id": "633df946-fe2e-4cd8-Cc9e-ad604731b7a3",
    "index": "3",
    "name": "만예희",
    "email": "user-hpz3sp1@eiusmod.com",
    "phone": "010-7668-3707",
    "country": "베냉",
    "address": "용두동 31-1",
    "job": "상담전문가",
    "gender": "여성",
    "int": "26"
  },
  {
    "_id": "630250ed-e0ca-459c-C413-b29d0ad80df1",
    "index": "4",
    "name": "음주연",
    "email": "user-sg2q7mb@fames.com",
    "phone": "010-3606-8303",
    "country": "뉴칼레도니아",
    "address": "독산로 66-9",
    "job": "일러스트레이터",
    "gender": "여성",
    "int": "41"
  },
  {
    "_id": "6d7300f2-beca-48ae-B230-348405804838",
    "index": "5",
    "name": "등혜빈",
    "email": "user-mwbyxqr@dictum.biz",
    "phone": "010-7210-9218",
    "country": "남수단",
    "address": "잠원로 2-6",
    "job": "정보보호전문가",
    "gender": "여성",
    "int": "41"
  }
]

In [45]:
# 문제 1번: 평균 나이를 출력해주세요.
# 문제 2번: 남녀 성비를 출력해주세요.

In [49]:
data[0]

{'_id': '287b44e4-d6d8-4a64-Bdf4-bfc50fedebd8',
 'index': '1',
 'name': '모송이',
 'email': 'user-s6nfwx3@augue.org',
 'phone': '010-7996-9978',
 'country': '네덜란드',
 'address': '여의하류로 79-9',
 'job': '경찰관',
 'gender': '남성',
 'int': '32'}

In [53]:
# 나이
# list(map(lambda x:x['age'], data))
ages = map(lambda x:x['age'], data)
ages = map(int, ages)
# list(ages) # map은 한번 순회가 돌면 다시 순회가 불가합니다.

In [50]:
# 문제 1번: 평균 나이를 출력해주세요.
value = [int(i['int']) for i in data]
age = sum(value) / len(value)

print(age)

36.0

In [ ]:
# 문제 2번: 남녀 성비를 출력해주세요.
# 성별별로 카운트를 수행합니다.
male_count = sum(1 for entry in data if entry['gender'] == '남성')
female_count = sum(1 for entry in data if entry['gender'] == '여성')

# 성비를 계산합니다.
total_count = len(data)
male_ratio = male_count / total_count
female_ratio = female_count / total_count

print("남성 비율:", male_ratio)
print("여성 비율:", female_ratio)

남성 비율: 0.4
여성 비율: 0.6

In [ ]:
#강사님 풀이
# 나이
# list(map(lambda x:x['age'], data))
ages = map(lambda x:x['int'], data)
ages = map(int, ages)
# list(ages) # map은 한번 순회가 돌면 다시 순회가 불가합니다.
ages = list(ages)
ages
sum(ages) / len(ages)

36.0

In [58]:
a = map(int, ['1', '2'])
# list(a)
a = list(a)
a

s = 'abcd'
s = iter(s)
next(s)

'a'

In [ ]:
gender = list(map(lambda x:x['gender'], data))
total = len(gender)
man = gender.count('남성')
woman = total - man
man/total * 100, woman/total * 100

(40.0, 60.0)

#클래스

In [59]:
class Car: # 차에 설계 도면 또는 차 공장입니다. => 클래스
    max_speed = 300
    max_people = 5
    car_gear = ['P', 'D', 'R', 'N']

    def start(self):
        print('차가 출발합니다!')

    def stop(self):
        print('차가 멈췄습니다!')

# 테슬라 공장에서 막 찍혀져 나온 자동차!
# 3대! modelx, y, s! => 인스턴스
modelx = Car() # 인스턴스 = 클래스()
modely = Car()
models = Car()

# Car.max_speed # modelx에 속도를 보고 싶으면 modelx.max_speed를 찍어야 합니다.
# models를 제가 구매했습니다.

print(models.car_gear[1])
models.start()
models.stop()

D
차가 출발합니다!
차가 멈췄습니다!

In [62]:
l = [1, 2, 3]
type(l)
dir(l)
l.append(3) # 이 모습!?
l

[1, 2, 3, 3]

In [64]:
# int, float, str과 같은 새로운 Car는 type을 만들고 있는 것입니다.

In [65]:
print(type(models))
print(dir(models))

<class '__main__.Car'>
['__class__', '__delattr__', '__dict__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__le__', '__lt__', '__module__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', '__weakref__', 'car_gear', 'max_people', 'max_speed', 'start', 'stop']

In [67]:
x = int(3)
# 그럼 x는 무엇일까요?
# int라는 class에 인스턴스

In [68]:
# x = int(3) 여기서 넣었던 3이라는 값이 어떻게 처리되는지 확인
class Car:
    max_speed = 300
    max_people = 5
    car_gear = ['P', 'D', 'R', 'N']

    def __init__(self, name): # 클래스로 인스턴스를 만들 때 호출!
        self.name = name

    def start(self):
        print('차가 출발합니다!')

    def stop(self):
        print('차가 멈췄습니다!')

modelx = Car('Tesla Model X') # x = int(3) 여기서 넣었던 3이 __init__ 메직메서드에서 처리!
modelx.name

'Tesla Model X'

In [61]:
# 실제 게임 코드
class Character:
    def __init__(self, name, role, hp, mp, power):
        self.name = name
        self.role = role
        self.hp = hp
        self.mp = mp
        self.power = power

    def attack(self):
        print('공격!')

    def defence(self):
        print('방어!')

hero_ironman = Character('아이언맨', '히어로', 100, 100, 100)
villain_thanos = Character('타노스', '빌런', 100, 100, 200)
# 여러 등장인물을 이런식으로 코딩할 수 있습니다.

In [69]:
class Person:
    name = 'jun' # 클래스 변수
    def __init__(self, name):
        self.name = name # 인스턴스 변수

hojun = Person('hojun')
hojun.name, Person.name

('hojun', 'jun')

In [71]:
class Person:
    name = 'jun' # 클래스 변수
    def __init__(self, name):
        def hello():
            print('hello world')
        hello()
        self.name = name # 인스턴스 변수

hojun = Person('hojun')
hojun.name, Person.name

hello world

('hojun', 'jun')

In [ ]:
class Car:
    max_speed = 300

    def __init__(self, name):
        self.name = name

    def start(self):
        print('차가 출발합니다!')

modelx = Car('Tesla Model X')
modelx.name

'Tesla Model X'

In [73]:
modelx.hello = 'hello world'

In [74]:
modelx.hello

'hello world'

In [75]:
def hello():
    print('hello world')

print(type(hello))

<class 'function'>

In [76]:
hello.hi = 'hi, world'

In [77]:
hello.hi

'hi, world'

In [ ]:
# 인스턴스 변수 선언을 허락하고 있지 않습니다!
s = 10
s.hi = 'hi, world'
s.hi

In [ ]:
s = 'hello'
s.hi = 'hi, world'
s.hi

In [ ]:
s = [10, 20, 30]
s.hi = 'hi, world'
s.hi

In [ ]:
s = {'one':1}
s.hi = 'hi, world'
s.hi

In [83]:
# 저라면 Car에서는 __add__를 구현하지 않았을 겁니다.
class Car:
    max_speed = 300

    def __init__(self, name):
        self.name = name

    def start(self):
        print('차가 출발합니다!')

modelx = Car('Tesla Model X')
modelx.name

'Tesla Model X'

In [84]:
# 저라면 Car에서는 __add__를 구현하지 않았을 겁니다.
class Coordinate:

    def __init__(self, x, y):
        self.x = x
        self.y = y

    def __add__(self, other):
        return [(self.x + other.x), (self.y + other.y)]

dot1 = Coordinate(10, 20)
dot2 = Coordinate(20, 30)

dot1 + dot2

[30, 50]

In [94]:
# 저라면 Car에서는 __add__를 구현하지 않았을 겁니다.
class Point:

    def __init__(self, x, y):
        self.x = x
        self.y = y

    def __add__(self, other):
        return Point((self.x + other.x), (self.y + other.y))

    def distance(self, other):
        dx = self.x - other.x
        dy = self.y - other.y
        return (dx**2 + dy**2)**0.5


dot1 = Point(10, 20)
dot2 = Point(20, 30)

dot3 = dot1 + dot2
dot3.x, dot3.y
dot3.distance(dot1)

36.05551275463989

In [88]:
class Matrix:

    def __init__(self, value):
        self.value = value

    def __add__(self, other):
        result = []
        for i in range(len(self.value)):
            result.append(self.value[i] + other.value[i])
        return result

m1 = Matrix([10, 20, 30])
m2 = Matrix([20, 30, 40])

m1 + m2

[30, 50, 70]

In [ ]:
class Matrix:

    def __init__(self, value):
        self.value = value

    def __add__(self, other):
        result = []
        for i in range(len(self.value)):
            result.append(self.value[i] + other.value[i])
        return result

    def __mul__(self, other):
        if isinstance(other, int):
            return [i*other for i in self.value]
        raise TypeError('int형 외에 곱을 허락하지 않습니다!')


m1 = Matrix([10, 20, 30])
m2 = Matrix([20, 30, 40])

m1 * 3
m1 * [1, 2, 3]

In [ ]:
[1, 2, 3] * [1, 2, 3]

In [92]:
# 단순화 시키긴 했으나 실제 아래와 같이 만듭니다.
class 게시물설계도:
    id = int()
    title = str()
    contents = str()
    author = str()
    create_time = str()
    update_time = str()
    view_count = int()
    last_connect_location = str()
    last_connect_time = str()

게시물1 = 게시물설계도()
게시물2 = 게시물설계도()

#09.14문제

In [1]:
from dataclasses import dataclass

@dataclass
class User:
    id: int
    name: str
    email : str

user = User(123, 'hojun', 'hojun@gmail')
user

User(id=123, name='hojun', email='hojun@gmail')

In [ ]:
# 아래 기본 data를 기반으로 문제를 풀어주세요.
data = [
  {
    "_id": "fd7e9a0f-e77b-436a-B781-119b66033d49",
    "index": "1",
    "name": "나주헌",
    "gender": "여성",
    "age": "43"
  },
  {
    "_id": "8ec6eabb-160a-41e4-A3de-cd33aff0b281",
    "index": "2",
    "name": "엄루다",
    "gender": "남성",
    "age": "22"
  },
  {
    "_id": "bcf804f7-0452-4c31-B9d1-20cc2d38490b",
    "index": "3",
    "name": "형유환",
    "gender": "남성",
    "age": "31"
  }
]
# 문제 1 gender, age값을 추출해보세요. 아래 양식처럼 추출하시면 됩니다. 가능하면 map을 사용해주세요.
'''
 [
  {
    "gender": "여성",
    "age": "43"
  },
  {
    "gender": "남성",
    "age": "22"
  },
  {
    "gender": "남성",
    "age": "31"
  }
]
'''

# 문제 2 User라는 class를 만들어 해당 데이터를 관리해주세요. 아래처럼 저장되어야 합니다.
# 다만 꼭 변수 이름이 user_1...user_n 일 필요는 없습니다.
# 저장양식: '[user_1, user_2, user_3]'

# 문제 3 BankAccount 클래스를 생성하세요. 이 클래스는 owner(계좌주 이름), balance(잔액) 속성을 가져야 합니다.
# 이 클래스는 deposit(amount) (입금) 및 withdraw(amount) (출금) 메서드를 가져야 합니다.
# 단, 출금 시 잔액보다 큰 금액을 출금하려고 하면 "잔액 부족" 메시지를 출력해야 합니다.

In [3]:
data = [
  {
    "_id": "fd7e9a0f-e77b-436a-B781-119b66033d49",
    "index": "1",
    "name": "나주헌",
    "gender": "여성",
    "age": "43"
  },
  {
    "_id": "8ec6eabb-160a-41e4-A3de-cd33aff0b281",
    "index": "2",
    "name": "엄루다",
    "gender": "남성",
    "age": "22"
  },
  {
    "_id": "bcf804f7-0452-4c31-B9d1-20cc2d38490b",
    "index": "3",
    "name": "형유환",
    "gender": "남성",
    "age": "31"
  }
]

In [18]:
#강사님 풀이
# 문제 1 gender, age값을 추출해보세요. 아래 양식처럼 추출하시면 됩니다. 가능하면 map을 사용해주세요.
list(map(lambda x: {"gender": x["gender"], "age": x["age"]}, data))
# list(map(lambda x: [x["gender"], x["age"]], data))

[{'gender': '여성', 'age': '43'},
 {'gender': '남성', 'age': '22'},
 {'gender': '남성', 'age': '31'}]

In [21]:
# 우리 수업에서 Django에서 사용되고
# 곧 나올 크롤링 같은 곳에서도 많이 사용됩니다.
# 1. 속도: 기본자료형보다 훨신 빠릅니다.
# 2. 메서드 구현: User클래스를 가지고 20 ~ 30, 30 ~ 40, 40 ~ 50별 타겟팅 광고

class User:
    def __init__(self, data):
        self._id = data['_id']
        self.index = data['index']
        self.name = data['name']
        self.gender = data['gender']
        self.age = data['age']

user_1 = User(data[0])
user_2 = User(data[1])
user_3 = User(data[2])

user_list = [user_1, user_2, user_3]
user_list[0].name
for i in user_list:
    print(i.name)

나주헌
엄루다
형유환

In [10]:
# 강사님 풀이

# 문제 2 User라는 class를 만들어 해당 데이터를 관리해주세요. 아래처럼 저장되어야 합니다.
# 다만 꼭 변수 이름이 user_1...user_n 일 필요는 없습니다.
# 저장양식: '[user_1, user_2, user_3]'
class User:
    def __init__(self, _id, index, name, gender, age):
        self._id = _id
        self.index = index
        self.name = name
        self.gender = gender
        self.age = age

    def __repr__(self):
        return f'user_{self.index}'

users = [User(**x) for x in data]
print(users)
users[0].name

[user_1, user_2, user_3]

'나주헌'

In [1]:
# 강사님 풀이

# 문제 3 BankAccount 클래스를 생성하세요. 이 클래스는 owner(계좌주 이름), balance(잔액) 속성을 가져야 합니다.
# 이 클래스는 deposit(amount) (입금) 및 withdraw(amount) (출금) 메서드를 가져야 합니다.
# 단, 출금 시 잔액보다 큰 금액을 출금하려고 하면 "잔액 부족" 메시지를 출력해야 합니다.

class BankAccount():
    def __init__(self,owner,balance):
        print(f'안녕하세요 {owner}님 입금,출금 도와드리겠습니다.')
        self.owner = owner
        self.balance = balance

    def deposit(self, amount):
        self.balance += amount
        return self.balance

    def withdraw(self, amount):
        if self.balance < amount:
            print('잔액 부족')  # 잔액 부족 메시지 출력
        else:
            self.balance -= amount
            return self.balance


# BankAccount 클래스의 인스턴스 생성
arr = BankAccount("나주헌", 2500)  # 예시로 잔액을 1000으로 설정했습니다.
# 인스턴스 출력
print(f'{arr.owner}님의 계좌 잔액은 {arr.balance}원입니다.')
# 출금 시 잔액 부족 예시
arr.withdraw(3000)  # 잔액 부족으로 인해 메시지가 출력됩니다.
arr.withdraw(1500)

안녕하세요 나주헌님 입금,출금 도와드리겠습니다.
나주헌님의 계좌 잔액은 2500원입니다.
잔액 부족

1000